<!DOCTYPE html>
<html>
<head>
<title>Visual Regress</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
<style>
body {
    background-color: black;
    
    }
.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: #2d3e50;
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}
img.screenshot {
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}
.center {
  text-align: center;
}

.h2 {
  display: inline-block;
  color: white;
  margin-top: 4em;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: 400;
  font-size: 100%;
}
</style>
</head>
<body>

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="index.html">Visual Regress</a>
    </div>
</div>
{% block content %}{% endblock %}

</body>
</html> 