{% extends "base.jinja" %}
{% block content %}
<div class="pure-g">
{% for d in data %}
    {% set slug = slugify(d.name) %}
    {% for s in d.screen_sizes %}
<div class="pure-u-1 center">
<span class="h2">{{ d.name }} {{ s }} </span>
</div>
    <a name="{{ slug }}_{{s}}"></a>
    <div class="pure-u-1-3"><a href="screenshot_{{ slug }}_1_{{ s }}.html"><img class="screenshot" title="{{ slug }}_{{s}}" src="imgs/{{ slug }}-1_{{ s }}.png.thumbnail.png"></a></div>
    <div class="pure-u-1-3"><a href="screenshot_{{ slug }}_2_{{ s }}.html"><img class="screenshot" title="{{ slug }}_{{s}}" src="imgs/{{ slug }}-2_{{ s }}.png.thumbnail.png"></a></div>
    <div class="pure-u-1-3"><a href="screenshot_{{ slug }}_{{ s }}_diff.html"><img class="screenshot" title="{{ slug }}_{{s}}_diff" src="imgs/{{ slug }}_{{ s }}_diff.png.thumbnail.png"></a></div>
    {% endfor %}
{% endfor %}
</div>
{% endblock %}
