{% extends "base.jinja" %}
{% block content %}
<div class="pure-g">
<div class="pure-u-1 center">
<span class="h2">{{ name }} {{ screen_size }}</span>
</div>
    {% if ptype == 'diff' %}
    <div class="pure-u-1"><a href="index.html#{{slug}}_{{screen_size}}"><img class="screenshot" title="{{slug}}_{{screen_size}}_diff" src="imgs/{{ slug }}_{{ screen_size }}_diff.png"></a></div>
    {% else %}
    <div class="pure-u-1"><a href="index.html#{{slug}}_{{screen_size}}"><img class="screenshot"title="{{slug}}-{{ ptype }}_{{screen_size}}" src="imgs/{{ slug }}-{{ ptype}}_{{ screen_size }}.png"></a></div>
    {% endif %}
</div>
{% endblock %}
